.raleway-font {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}


.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* shared style */
.color-primary {
    color: rgb(78, 71, 255);
}

.bg-primary {
    background-color: rgb(78, 71, 255);
}

.text-white {
    color: white;
}

.header {
    background-image: url("../Assets/Hero-bg.png");

}

.text-content {
    width: 80%;
    margin: 0px auto;
}

.flex{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}


/* nav style */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 34px;
    font-weight: 900;
    border: gray dashed;
}

.sign-btn {
    border: none;
    border-radius: 10px;
    padding: 12px 36px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}
.sign-btn:hover{
    background-color: goldenrod;
    color: white;
}

/* banner section */
.banner {
    text-align: center;
    padding: 100px;
}

.banner-title {
    font-size: 65px;
    font-weight: 700;
    margin-bottom: 50px;
}

.border {
    border-bottom: dashed;
    color: gray;
}

/* main section */
.bg-main{
    background-color: rgba(0, 0, 255, 0.075);
}
.img-min{
    border-radius: 20px;
}
.see{
    font-size: 42px;
    font-weight: 700;
}
.see-description{
    font-size: 24px;
    font-weight: 400;
    color: #25243280;
}

/* joined section */
.bg-blue{
    background-color: #4E47FF1A;
    border-radius: 20px;
    margin-top: 100px;
}
.joined-content{
    padding: 50px 100px;
}
.joined-title{
    font-size: 38px;
    font-weight: 700;
    text-align: center;
}
.joined-container{
    display: flex;
    justify-content: space-between;
}
.prices{
    color: rgb(78, 71, 255);
    font-size: 72px;
    font-weight: 700;
}
.prices-description{
    font-size: 20px;
    font-weight: 400;
    color: #00000080;
    margin-top: -50px;
}

/* users section */
.users-title{
    margin-top: 100px;
    text-align: center;
    font-size: 42px;
    font-weight: 700;
}
.users{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.users-container{
    background-color: white;
    border: 1px solid rgb(242, 237, 237);
    border-radius: 10px;
    padding: 20px;
}
.content-title{
    font-size: 24px;
    font-weight: 600;
}
.content-description{
    font-size: 16px;
    font-weight: 400;
}
.Reviewer-name{
    padding-left: 40px;
}
.users-reviewer{
    font-size: 18px;
    font-weight: 400;
    color: #757575;
}