.raleway-font {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}


.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* shared style */
.color-primary {
    color: rgb(78, 71, 255);
}

.bg-primary {
    background-color: rgb(78, 71, 255);
}

.text-white {
    color: white;
}

.header {
    background-image: url("../Assets/Hero-bg.png");

}

.text-content {
    width: 80%;
    margin: 0px auto;
}

.flex {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}


/* nav style */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 34px;
    font-weight: 900;
    border: gray dashed;
}

.sign-btn {
    border: none;
    border-radius: 10px;
    padding: 12px 36px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}

.sign-btn:hover {
    background-color: goldenrod;
    color: white;
}

/* banner section */
.banner {
    text-align: center;
    padding: 100px;
}

.banner-title {
    font-size: 65px;
    font-weight: 700;
    margin-bottom: 50px;
}

.border {
    border-bottom: dashed;
    color: gray;
}

/* main section */
.bg-main {
    background-color: rgba(0, 0, 255, 0.075);
}

.img-min {
    border-radius: 20px;
}

.see {
    font-size: 42px;
    font-weight: 700;
}

.see-description {
    font-size: 24px;
    font-weight: 400;
    color: #25243280;
}

/* joined section */
.bg-blue {
    background-color: #4E47FF1A;
    border-radius: 20px;
    margin-top: 100px;
}

.joined-content {
    padding: 50px 100px;
}

.joined-title {
    font-size: 38px;
    font-weight: 700;
    text-align: center;
}

.joined-container {
    display: flex;
    justify-content: space-between;
}

.prices {
    color: rgb(78, 71, 255);
    font-size: 72px;
    font-weight: 700;
}

.prices-description {
    font-size: 20px;
    font-weight: 400;
    color: #00000080;
    margin-top: -50px;
}

/* users section */
.users-title {
    margin-top: 100px;
    text-align: center;
    font-size: 42px;
    font-weight: 700;
}

.users {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.icon {
    color: orange;
}

.users-container {
    background-color: white;
    border: 1px solid rgb(242, 237, 237);
    border-radius: 10px;
    padding: 20px;
}

.content-title {
    font-size: 24px;
    font-weight: 600;
}

.content-description {
    font-size: 16px;
    font-weight: 400;
}

.reviewer-img {
    border-radius: 100px;
}

.Reviewer-name {
    display: flex;
    align-items: center;
    gap: 20px;
}

.users-reviewer {
    font-size: 18px;
    font-weight: 400;
    color: #757575;
}

.users-Date {
    color: rgba(128, 128, 128, 0.527);
    margin-top: -10px;
}

/* focus section */
.focus-container {
    background-color: white;
    border-radius: 10px;
    text-align: center;
}

.focus-title {
    font-size: 50px;
    font-weight: 700;
    padding-top: 50px;
}

.focus-description {
    color: #00000080;
    font-size: 16px;
    font-weight: 400;
    margin-top: -20px;
}

.img-content {
    padding: 50px;

}

.focus-img {
    border-radius: 20px;
}

/* get-touch section */
.get-touch {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    gap: 50px;
    padding-bottom: 50px;
}

.get-touch-title {
    font-size: 97px;
    font-weight: 700;
}

.with-50 {
    width: 45%;
}

.input {
    color: #00000080;
    padding: 15px;
    border: none;
    border-radius: 5px;
    width: 400px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 400;
}

.touch-btn {
    width: 430px;
}

/* footer section */
footer {
    text-align: center;
    margin: 100px;
}

.logo-footer {
    font-size: 100px;
    font-weight: 900;
    color: #4E47FF;
}

.footer-description {
    font-size: 16px;
    font-weight: 400;
    color: #8987A1;
    margin-top: -50px;
}

.anchor {
    text-decoration: none;
    color: #8987A1;
    margin-right: 30px;
    font-size: 16px;
    font-weight: 400;
}